@page
@model BudgetApp.Pages.Expenses.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Expense[0].ExpenseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense[0].Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense[0].Merchant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense[0].Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Expense) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseDate.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Merchant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
    
    <tfoot>
        <tr>
            <th>Total</th>
            <th>$@Model.Expense.Sum(x => x.Cost)</th>
            <th></th><th></th>  @*line all the way across*@
        </tr>
    </tfoot>
</table>
